* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
.main {
    background-image: url("./background.png");
    height: 650px;

}

.logo img{
    height: 35px;
}
.get-in-touch {
    background-color: #007BFF;
    display: flex;
    align-items: center;
    padding: 10px 7px;
    border-radius: 5px;
    color: white;
}
.wrapper {
    display: flex;
    gap:20px;
    justify-content: space-between;
    justify-content: space-around;
    padding-top: 40px;
    height: 35px;


}
.Active {
    color:#007BFF;
}
.navbar{
    display: flex;
    gap:35px;
    justify-content:center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 520;
    color:grey;

}
.hero {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    gap: 50px;
    justify-content: space-around;

}
.hero-content {
    padding-top: 80px;   
    font-family: Playfair Display;

}
.hero-content2 img{
    width: 480px;
    height: 450px;
    padding-top: 50px;
    Left:35px;

}
.hero-content h1, span{
    font-family: Playfair Display;
    font-size: 52px;
}
.hero-content h1 {
    line-height: 1.2; 
}

.hero-content span{
    color:#007BFF;
}

.hero-content p {
    padding-top: 30px;
    text-align: left;
    color:grey;
    font-weight: 100;
}
.site-analyze {
    background-color: aliceblue;
    width: 330px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 8px;
    text-align: left;
}
.site-analyze input{
    border-radius: 6px;
    height: 26px;
    width: 200px;
    padding: 8px;
    border-color: lightblue;
    border-width: 1.2px;
    font-size: 10px;
}
.site-analyze-btn {
    background-color:#007BFF;
    border: none;
    color:white;
    padding: 13px;
    border-radius: 6px;
    font-size: 10px;
}
.hero-logo-main {
display: flex;
justify-content: space-between;
padding-top:80px;
max-width: 450px; 
}
.hero-logo-main div {
display: flex;
width: 100px; 
height: 15px;
align-items: center;
} 
.hero-logo-main img {
    max-width: 70%;
    height: auto;
}

.section-header a {
    display: flex;
    font-family: Noto Sans SemiBold;
    font-weight: 600;
    font-size: 16px;
    justify-content: center;
    padding-top: 35px;
    text-decoration:none;
    color:#007BFF;
}
.section-header h2 {
    display: flex;
    font-family: Playfair Display;
    font-weight: 600;
    font-size: 45px;
    justify-content: center;
    padding-top: 5px
}

.section-header p {
    display: flex;
    font-family: Noto Sans;
    font-weight: 50;
    font-size: 18px;
    justify-content: center;
    padding-top: 5px
}
.card {
    display: block;
}
.discover-card,.art-dir-card,.product-ux-card {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    height: 200px;
    width: 250px;
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    
}
.discover-card img,.art-dir-card img,.product-ux-card img{
    width: 71px;
    height: 71px;
}
.discover-card p,.art-dir-card p,.product-ux-card p{
    font-size:12px;

}

.ecl1{
    display: flex;
}
.ecl1 .img_a{
    width: 70px;
    padding-left: 2.89%
}
.ecl2{
    display: flex;
}
.ecl2 .img_a{
    width: 68px;
    margin-top:-1px;
    margin-left: 92%;
}
.card-visual {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}
.card-visual .discover-card .img_b{
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left:-59px;
    margin-top:-20px;
}
.card-visual .product-ux-card .img_b2{
    width: 45px;
    height: 45px;
    position: absolute;
    margin-top: 154px;
    margin-left: 270px;
}

.discover-more {
    display: flex;
    align-items: center;
    padding-left: 50%;
}
.experience-content .discover-more {
    display: flex;
    align-items: center;
    padding-left: 50%;
    padding-top: 5%;
}
.discover-more-exp{
    display: flex;
    align-items: center;


}
p{
    color: #777B93;
}
.discover-more .disc-btn{
   background-color:#007BFF;
    border: none;
    color:white;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 10px;
    margin-bottom: 10px;

}
.discover-more .disc-btn-exp{
   background-color:#007BFF;
    border: none;
    color:white;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 10px;
    margin-left: -100%;

}

.experience-content {
    display: flex;
    flex-direction: column;
    padding-top: 3em;

}
.experience-content h6 {
    color:#007BFF;
    font-family: Noto Sans;
    font-weight: 600;
    padding: 1px 0px;
    font-size:16px;
}

.experience-content h2 {
    font-family: Playfair Display;
    font-weight: 600;
    padding: 5px 0px;
    font-size:30px;
}
.experience-content .exp-content p {
    font-size: 12px;
    width: 75%;
    padding: 5px 0px;
    font-size:18px;
}

.dashboard-container {
    display: flex;
    gap: 25px;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    margin: 0 10%;
}
.combo-card-main img{
    width: 480px;
    height: 450px;
    padding-top: 50px;
}

.card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    color: #333;
    
}   

.card h4 {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: 600;
}

.profile-card {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: 5em;
}

.profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.small-photo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.candidate-name {
    margin: 5px 0;
    font-size: .6.8em;
    font-weight: 750;
}

.candidate-role {
    margin: 0 0 15px 0;
    color: #666;
    font-size: 0.4em;
}

.stars {
    color: #f7b400;
    font-size: 1.5em;
    letter-spacing: 5px;
}

.action-card {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17.5em;
    margin-left: 20em;
    margin-top:.6em;
    height: 2em;

}

.candidate-info {
    display: flex;
    align-items: center;
    padding-top:15px
}

.actions {
    display: flex;
    gap: 5px;
}

.btn {
    padding: 8px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

 .project-main {
    margin: 0 10%;

    
 }
.project {
    display: flex;
    max-width: 85%;
    align-items: center;
    gap:20px;
}
.project-child{
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 20px;
    margin-left:15%;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 10px;
    
}
.project-left {
    width: 50%;
    
}
.project-content {
    font-size: 12px;
}
.project-left-no {
    background: linear-gradient(to right, #D4A0ED, #0078FF);
    background-clip: text;
    color: transparent;

}

.project-right {
    width: 50%;
}
.project-right img{
    width: 80%;
    height: auto;
    padding-left: 20%;

}

.site-footer {
    background-color: #16162E;
    color: white;
    padding: 40px 0 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.footer-container {
    max-width: 85%;
    margin: 0 auto;
    padding: 0 20px 40px;
    display: flex;
    justify-content: space-evenly; 
    gap:3%;
}

.branding-column p {
    font-size: 0.9em;
    margin-top: 20px;
}

.footer-logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
    font-family: Open Sans;
}
.footer-logo h4 {
    font-size: 38px;
    font-family: Open Sans;
}
.footer-logo img {
    width: 15%;; 
    height:  auto;;
    margin-right: 10px;
    border-radius: 50%;
}
.footer-column {
    width: 50%;
}
.footer-column p {
    color: #ABABC3;
    width: 90%;
    font-size: 16px;
    
}
.muse {
    color:#0078FF;
    font-size:38px;
}
.branding-column{
    width: 100%;
}
.footer-column h3 {
    color: white;
    font-size: 1.1em;
    margin-bottom: 25px;
    font-weight: normal; 
}

.footer-column ul {
    list-style: none;
    color:#ABABC3;
    font-size:14px;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.2s;
    display: inline-block;
    padding-bottom: 2px;
}


.contact-column address {
    font-style: normal;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
}

.footer-bottom {
    border-top: 1px solid #FFFFFF;
    text-align: center;
    padding: 20px 0;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.85em;
}